<h1>Sourse name</h1>
<div class="nav">
    <select name="select" (ngModelChange)="setSourceId($event)" [(ngModel)]='defaultSourceId'>
      <option *ngFor="let source of sources"
        [value]="source.id"
      >{{source.source}}</option>
    </select>
    <div class="filter">
      <input placeholder="Type your text..." [(ngModel)]="filter"/>
      <button (click)="runFilter()">Filter</button>
    </div>
    <button (click)="goAddNews()">Add article</button>
</div>

<div class="container">  
  <div *ngFor="let arr of news" class="article">
    <div class="photocard">
      <img src="{{arr.photoUrl}}" alt="Photo" width="100" height="100"/>
    </div>
    <div class="description">
      <strong>{{ arr.title }}</strong>
      <p>{{ arr.descShort }}</p>
      <i><a routerLink="/newslines/{{arr.id}}">Read more</a></i>
    </div>
    <p class="date">Date: {{ arr.date | date: "short" }} </p>

  </div>
</div>
