$bckgrndImg: url("../img/m-h-night.jpg");
$bttnBckgrndClr: orange;
$sectionCardBckgrndColor: rgb(54, 54, 65);
$linearGradient: linear-gradient(0.25turn, $bttnBckgrndClr 40%, rgb(192, 3, 76));
$underLineTextColor: rgb(255, 51, 0);
$paragraphFontFamily: 'Fresca', sans-serif;
$mainFontColor: white;
$mainBackgroundColor: rgb(38, 36, 46);