$bckgrndImg: url("../img/m-h-day.jpg");
$bttnBckgrndClr: olivedrab;
$sectionCardBckgrndColor: rgb(39, 38, 38);
$linearGradient: linear-gradient(0.25turn, $bttnBckgrndClr 40%, blue);
$underLineTextColor: rgb(9, 210, 236);
$paragraphFontFamily: 'Source Sans Pro', sans-serif;
$mainFontColor: rgb(39, 38, 38);
$mainBackgroundColor: white;